# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diretório de dependências
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Arquivos temporários
.DS_Store
.vscode/
.idea/